.logo {
    background: #ff5e3a;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 15px;
    height: 40px;

}
.name {
    color: white;
    text-decoration: none;
    font-size: .875rem;
    position: relative;
    top: -24px;
    right: 120px;
}

.imgL {
    width: 34px;
    height: 34px;
    align-items: center;
    margin: 3px 0px 0px 0px;
}