.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 19px;
    padding: 5px;
}

.image {
    max-width: 80px;
    max-height: 80px;
    cursor: pointer;
}

.image:nth-child(3), .image:nth-child(6), .image:nth-child(9) {
    padding: 0 0 8px 4px;
}

.image:nth-child(1), .image:nth-child(4), .image:nth-child(7) {
    padding: 0 4px 8px 0;
}

.image:nth-child(2), .image:nth-child(5), .image:nth-child(8) {
    padding: 0 4px 8px 4px;
}