.postBlock {
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px;
    margin: 15px 0px;
    max-width: 620px;
    height: auto;
    max-height: 700px;

}

.post {
    padding: 25px;
}

.postHeader {
    display: flex;
}

.authorImg img {
    border-radius: 20px;
    width: 36px;
    height: 36px;
}


.avatar {

}

.authorIn {
    display: flex;
    flex-direction: column;
}

.authorName {
    font-weight: 700;
    margin-left: 22px;
    color: #515365;
}

.authorName:hover {
    color: #ff5e3a;
}

.time {
    font-size: 13px;
}

.more {
    transform: scale(2) translate(197px, 2px);
}

.message {
    max-height: 137px;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 2px;
    height: 5px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #3F4257;
    border-radius: 100px;

}

::-webkit-scrollbar-track {
    border-radius: 100px;
}

.paragraph {
    text-align: left;
}

.postThumb {
    max-height: 384px;
    overflow: auto;
}

.postThumb img {
    width: 100%;
    height: auto;
}

.postInfo {
    padding-top: 25px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E6ECF5;
}

.likes {
    margin: 6px 25px 0 0;
}

.likeIcon {
    font-size: 35px;
    color: #c2c5d9;
    margin: -14px 5px 0 0;
}

.likesCount {

}

.likesBlock {
    display: flex;
    padding: 0px 5px;
}

.userLikedBlock {
    display: flex;
    margin-top: 17px;
}

.likersImages {
    min-width: 104px;
}


.likersImages img {
    border-radius: 100px;
    margin: -6.5px;
    border: 2px solid #fff;
}

.likersImages img:hover {
    z-index: 3;
    border: .13rem solid rgba(255, 94, 58, 0.65);
    transform: scale(1.2);
}

.commentsReposts {
    display: flex;
    font-size: 12px;
    transform: scale(1.15);
    margin-top: 7px;
}

.countersBlocks {
    display: flex;
    padding: 7px;
    height: 22px;
    border-radius: 10px;
    cursor: pointer;
}

.countersBlocks:hover {
    background: #7C5AC2;
}

.countersBlocks:last-child:hover {
    background-color: #38A9FF;
}

.countersBlocks:hover {
    color: #FFFFFF;
}

.likes:hover {
    background: #FF5E3A;
}

.likes:hover .likeIcon, .likes:hover .likesCount {
    color: #FFFFFF;
}

.commentsInfo {
    margin-right: 20px;
}

.commentsIcon {
    margin-right: 3px;
}

.count {
    margin: 1px 0 0 5px;
}

.repostsInfo {

}

.repostIcon {

}

.controlBlock {
    position: relative;
    height: 1px;
    top: 15px;
    left: 604px;
}

.icons {

}

.icon {
    background-color: #9a9fbf;
    width: 34px;
    height: 29px;
    border-radius: 100px;
    padding-top: 7px;
    margin-bottom: 3px;
    cursor: pointer;
}

.icon:first-child:hover {
    background-color: #FF5E3A;
}

.icon:nth-child(2):hover {
    background-color: #7C5AC2;
}

.icon:last-child:hover {
    background-color: #38A9FF;
}


.commentsIcon > * {
    color: #c2c5d9;
}

.repostIcon > * {
    color: #c2c5d9;
}

.countersBlocks:hover .commentsIcon > * {
    color: #fff;
}

.countersBlocks:hover .repostIcon > * {
    color: #fff;
}




















