.iconSB {
    margin-right: 23px;
}

.name {
    color: #9a9fbf;
    font-weight: 700;
    font-size: 13px;
    margin-top: 2.5px;
}

.bg {
    background: blue;
}
.c {
    color: red;
}
.fz {
    font-size: 25px;
}
