.ProfileBadges {
    padding: 0 0 25px;
    background: #FFFFFF;
    margin-bottom: 20px;
    border-radius: 7px;
}

.badgesBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.badge {
    cursor: pointer;
}

.badgeCount {
    color: #FFFFFF;
    font-size: 20px;
    background: #FF5E3A;
    border-radius: 20px;
    padding: 5px 14px;
    position: absolute;
    transform: scale(0.6)
    translate(25px, -95px);

}