.button {
}

.itemsWrapper {
    display: flex;
    padding: 10px 20px;
}

.icon {
    color: #9a9fbf;
    transition: color .5s linear;
}

.button:hover .icon {
    color: #ff5e3a;
}

.buttonName {
    padding: 3px 0 0 16px;
    color: #9a9fbf;
    font-weight: 700;
    font-size: 13px;
    transition: color .5s linear;
}

.button:hover .buttonName {
    color: #515365;
}