.statusChanger {
    display: flex;
    padding: 7px 0;
    cursor: pointer;
}

.status_icon {
    width: 8px;
    height: 8px;
    position: relative;display: block;
    border-radius: 100px;
    margin: 5px 20px 0 0;
}

.name {
    font-size: 12px;
    color: #888da8;
    font-weight: 700;
}

.statusChanger:hover .name {

    color: #515365;
}