.button {
}

.itemsWrapper {
    display: flex;
}

.icon {
    padding: 14px 0px 14px 25px;
    color: #9a9fbf;
    transition: color .5s linear;
}

.button:hover .icon {
    color: #ff5e3a;
}

.buttonName {
    color: #9a9fbf;
    font-weight: 700;
    font-size: 13px;
    padding: 18px 15px 20px 25px;
    transition: color .5s linear;
}

.button:hover .buttonName {
    color: #515365;
}

