.friendsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 19px 10px 5px;
    gap: 5px;
}

.friend img {
    border-radius: 25px;
    cursor: pointer;
}

.more {
    padding: 11px 10px 6px 9px;
    background-color: #ff5e3a;
    border-radius: 25px;
    color: #FFFFFF;
    font-weight: 600;
    transform: scale(0.93);
}