.vidsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.vid {
    border-radius: 10px;
    overflow: hidden;
    width: 260px;
    margin: 5px 0 0 0;
}