
.App-wrapper {
  font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
  display: grid;
  grid-template-areas:
  'header header header'
  'sidebar content ms';
  grid-template-rows: 70px 1fr;
  grid-template-columns: 150px 10fr 70px;
  grid-gap: 10px;
  color: #888da8;
}

.App-wrapper-content {
  grid-area: content;
  text-align: center;

}
